---
layout: blank
title: Register
slug: register
---
<!-- <div class="container"> -->
<!--     <h1 class="font-weight-bold text-white text-center"> -->
<!--     Registration</h1> -->
<!--     <div class="row justify-content-center pt-4"> -->
<!--         <div class="col-12 col-md-8"> -->
<!--             <div class="media align-items-center"> -->
<!--                 <img class="mr-3 img-fluid d-block rounded-circle" -->
<!--                 src= -->
<!--                 "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIO26L4vBKPnQ--_Xm9gNnGWpzLkjho6nzZOvw4tTVThMbcjhu" -->
<!--                 alt="Mikeal Rogers Avatar" width="100" height= -->
<!--                 "100"> -->
<!--                 <div class="media-body"> -->
<!--                     <strong>Thirty seats are self -->
<!--                     financed</strong><br> -->
<!--                     <strong>Thirty seats are financed by QIP and -->
<!--                     are on a first come first served -->
<!--                     basis.</strong> The QIP seats are for faculty -->
<!--                     of institutions. -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
<!-- <div class="container-fluid bg-darkblue">
     <div id="tickets-carousel" class="py-4 py-lg-5 tickets-carousel">
     <div id="ticketsCarousel" class="carousel slide carousel-show-three py-5">
     <div class="carousel-inner mx-auto">
     {%- for image in site.data.carousel -%}
     <div class="carousel-item justify-content-around{% if forloop.first %} active{% endif %}">
     {%- assign temp_str = image | split: "." -%}
     {%- assign img_fname = temp_str[0] -%}
     {%- assign img_ext = temp_str[1] -%}

     <img class="d-block img-fluid mx-auto" src="/assets/img/tickets/{{ img_fname }}.{{ img_ext }}" srcset="/assets/img/tickets/{{ img_fname }}.{{ img_ext }} 1x, /assets/img/tickets/{{ img_fname }}@2x.{{ img_ext }} 2x" alt="" width="400" height="267">
     </div>
     {%- endfor -%}
     </div>
     <a class="carousel-control-prev" href="#ticketsCarousel" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#ticketsCarousel" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
     </a>
     </div>
     </div>
     </div>  -->
<h1 class="text-center price-heading">Registration Proceedure</h1>
<div class="text-justify container">

    <div class="col">
<div class="alert alert-danger">
    <strong>Alert:</strong> Do not pay without being told to do so by the organizing comittee. The list of candidates (on a first come first served basis) will be intimated on the website in December.
</div>
</div>
    <div class="col-md-6 offset-md-3">
{% markdown %}

* The registration process will begin on **November 15 2018**
* For email notifications subscribe at the bottom of this page

Follow the following proceedure **strictly**. Failure to comply will result in a **loss of money**.

* Fill the relevant google form for your registration category by clicking the reserve a seat button

#### For QIP faculty (**30 Seats**)

* The form needs a document signed by the institution QIP office or by the Head of the Institute, confirming QIP eligibility
* Payment details will be intimated after approval

#### For Self Sponsored Candidates (**30 Seats**)

There are 30 seats total, for the non-QIP participants [Students, Faculty (Other), Industry]

* Payments are facilitated by SBI collect
* The registration process will require a valid ID
* Payment details will be sent if you are within the first 30 people to register

#### For IITK Students (**10 Seats**)

Ten seats are available for the students of IIT Kanpur.

* **Masters** and **PhD** students are preferred
* A PF number or roll number is required
* Payment instructions will be provided to the first 10 people to register

{% endmarkdown %}
    </div>
<!--     <div class="row"> -->
<!-- <div class="col-md-2 offset-md-3"> -->
<!-- <a class="btn btn-lg btn-danger btn-round" href="{{ site.baseurl }}{% link assets/pdf/funmolsim2019-collectDetails.pdf %}" rel="noopener" target="_blank"> -->
<!--                          SBI Collect Details</a> -->
<!-- </div> -->
<!-- <div class="col-md-2 offset-md-2"> -->
<!-- <a class="btn btn-lg btn-info btn-round" href="{{ site.baseurl }}{% link assets/pdf/funmolsim2019-collectProcess.pdf %}" rel="noopener" target="_blank"> -->
<!--                          SBI Collect Process</a> -->
<!-- </div> -->
<!-- </div> -->

</div>

<div id="generic_price_table">
    <section class="ticket-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading">
                        <h1>Registration Fees</h1>
<div class="alert alert-warning">
    <strong>Warning:</strong> Please address all queries regarding QIP to <a href="http://www.iitk.ac.in/qip/about-us/head-cdte">the relevant authority.</a>
</div>
<p> GST is included where applicable. </p>
                    </div><!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">
            <!--BLOCK ROW START-->
            <div class="row row-eq-height">
        {% assign items = site.data.price | sort: 'num' %}
        {% for price in items %}
                <div class="col-md-4 mb-md-6">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class=
                            "generic_head_content clearfix">
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{ price.bracket }}</span>
                                </div><!--//HEAD END-->
                            </div><!--//HEAD CONTENT END-->
                            <!--PRICE START-->
                            <div class=
                            "generic_price_tag clearfix">
                                <span class="price"><span class=
                                "sign">₹</span> <span class=
                                "currency">{{ price.cost }}</span></span>
                            </div><!--//PRICE END-->
                        </div><!--//HEAD PRICE DETAIL END-->
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">

                            <ul>
{% for item in price.notes %}
    <li class="text-justify">{{ item }}</li>
{% endfor %}
                            </ul>
                        </div><!--//FEATURE LIST END-->
                    </div><!--//PRICE CONTENT END-->
                    <div class="card-footer text-center">
                <a class="btn btn-lg btn-dark btn-round" href="{{ price.form }}" rel="noopener" target="_blank">
                         Reserve a seat</a>
                         </div>
                </div>
  {% endfor %}
        </div><!--//BLOCK ROW END-->
    </section>
</div>

                        <div class="bg-info m-3">
<div class="alert alert-primary text-center">
  <strong>Note:</strong> For notifications, subscribe below.
            {%- include home/newsletter.html -%}
</div>
                        </div>
