---
layout: default
title: Schedule
slug: schedule
redirect_from:
  - "/agenda/"
---

<div class="container mt-5 mb-5">
    <h1 class="text-center">Schedule</h1>
    <div class="row">
<div class="col-md-2 offset-md-3 mb-2 text-center">
<a class="btn btn-lg btn-info btn-round" href="{{ site.baseurl }}{% link assets/pdf/FunMolSim2019-Schedule.pdf %}" rel="noopener" target="_blank">
                         Download (.pdf)</a>
</div>
<div class="col-md-2 offset-md-2 mb-3 text-center">
<a class="btn btn-lg btn-info btn-round" href="https://docs.google.com/spreadsheets/d/1kQJap3GaGKPlb0MA41kyhLtbAPzoRx711qO1xHQwj_I/edit?usp=sharing" rel="noopener" target="_blank">
                         Google Spreadsheet</a>
</div>
</div>

    {% for days in site.data.schedule %}
    {% assign day = days[1] %}
    {% if forloop.first == true %}
    <div class="row">
        {% endif %}
        <div class="col">
            <h4>{{ day.date }}</h4>
                   <ul class="timeline">
                       {% for instant in day.time %}
                       <li><time class="text-uppercase font-weight-bold">{{ instant.moment }}</time><br/>
                           {{ instant.text }}<br/>
                           {% if instant.instructor %}
                   <a class="btn btn-info mt-2 btn-sm" href="{{ site.baseurl }}{% link speakers.html %}" rel="noopener" target="_blank">
                         {{ instant.instructor }}</a>
                   {% endif %}
                </li>
                       {% endfor %}
                       </ul>
                   </div>
                       {% assign test = forloop.index | divided_by: 2.0 %}
                       {% if test == 1 or test == 2 %}
                       </div>
    {% unless forloop.last == true %}
<div class="row">
    {% endunless %}
                       {% endif %}
        {% endfor %}
</div>
</div>
