<div class="header-hero d-flex align-items-center text-white text-center">
    <div class="container">
        <h1 class="display-4 mt-5 font-weight-bold text-white text-center">FunMolSim 2019</h1>
        <h2>Fundamentals of Molecular Simulations</h2>
        <h1 class="h5">
            A five day opportunity to learn from researchers at the cutting edge of molecular simulations.
            <br>
            A Quality Improvement Programme (<a href="http://iitk.ac.in/qip">QIP</a>) Workshop. Limited seats.
        </h1>

        <h2 class="font-weight-light">
            <b>March 5<small>th</small>-9<small>th</small> 2019</b>
        </h2>

        <h3 class="h5 font-weight-light">
            Indian Institute of Technology, Kanpur, India
        </h3>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <a class="btn bg-teal text-black btn-round btn-lg mr-2" href="{{ site.baseurl }}{% link register.html %}" rel="noopener" target="_blank">Register</a>
                <!-- <a class="btn bg-black btn-outline-white btn-round btn-lg ml-2" href="/2017-report/" rel="noopener" target="_blank">2017 Report</a> -->
            </div>

        </div>
    </div>
</div>
